---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import UseCases from '../components/UseCases.astro';
import Experience from '../components/Experience.astro';
import Stack from '../components/Stack.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <UseCases />
    <Services />
    <Experience />
    <Stack />
    <Projects />
    <Contact />
  </main>
</Layout>
